.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: $bg-fon-modal;

  // overflow-y: auto;
  // height: 100vh;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-hero {
  min-width: 550px;
  min-height: 570px;

  background-color: $primary-bg;
  border-radius: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 32px;
  transform: translate(-50%, -50%);
}

// .btn-hero-prise {
//   /* open btn for modal */
//   @include tabletMin {
//     @include font(24px, 600, 00.03em);

//     color: $primary-text;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // margin: 0 auto;
//     // margin-bottom: 32px;
//     padding: 20px 0;
//     // padding: 0;
//     background-color: transparent;
//     // background-color: $bg-burger-menu;
//     border-radius: 30px;
//     border: none;
//     outline: none;
//     cursor: none;
//   }

//   @include desktop {
//     font-size: 28px;
//     cursor: pointer;
//   }

//   display: none;
// }

.close-btn-modal {
  @include desktop {
    cursor: pointer;

    &:hover {
      fill: $hover-close-btn;
    }
  }

  position: absolute;
  right: 10px;
  top: 20px;
  fill: $primary-text;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  cursor: none;
}

.title-modal {
  @include font(43px, 400, 0.02em);

  color: $primary-text;
  text-align: center;
  padding: 39px 0 24px;
}

.text-modal {
  padding-bottom: 32px;

  &__item {
    color: $secondary-color;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subtitle-modal {
  @include short-font(25px, 0.02em);

  color: $primary-text;
  padding-bottom: 16px;
}

.modal-descr {
  padding-bottom: 20px;

  &__item {
    margin-bottom: 8px;
    color: $secondary-color;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contact-modal {
  @include short-font(21px, 0.05em);

  color: $secondary-color;
  margin-right: 32px;

  &:last-of-type {
    margin-right: 0;
  }
}

.menu-social-modal {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 32px;
}

.menu-social__modal {
  @include short-font(15px, 0.01em);

  color: $primary-text;
}
