.page-header .conteiner {
  display: flex;
  align-items: center;
}

.BM-box {
  // @include tabletMin {
  //   display: none;
  // }

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 16px;
  min-height: 100%;
}

.menu-toggle {
  // @include tabletMin {
  //   display: none;
  // }

  // @include desktop {
  //   display: none;
  // }

  min-height: 38px;
  min-width: 38px;

  margin: 0;
  // padding: 10px 10px 0 0;
  fill: $secondary-color;
  background-color: transparent;
  cursor: none;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    fill: $accent-color;
    background-color: transparent;
  }
}

.menu-container {
  // @include tabletMin {
  //   display: none;
  // }

  // @include min-mobile {
  //   padding: 15px;
  // }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: $primary-bg;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.price-bm-title {
  @include short-font(25px, 0.05em);
  padding: 12px 0 24px 0;
  text-align: center;
}

.BM {
  display: block;
}

.BM-list {
  padding: 0;
  margin: 0 auto;
}

.BM-item {
  display: flex;
  justify-content: space-around;
  // align-items: baseline;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 32px;
  }
}

.BM-text {
  // @include min-mobile {
  //   @include short-font(16px, 0.01em);
  // }

  @include short-font(16px, 0.01em);
  max-width: 180px;
}

.BM-prise {
  // @include min-mobile {
  //   @include short-font(16px, 0.01em);

  //   margin-left: 30px;
  // }
  @include short-font(16px, 0.01em);
  margin-left: 20px;
}

.BM-item-center {
  display: flex;
  justify-content: center;
  // margin: 0 auto;
}

.ps-text {
  @include short-font(16px, 0.01em);

  font-style: italic;
}

.BM-descr {
  display: block;
  margin-left: 32px;
}

.price-bm-subtitle {
  @include short-font(18px, 0.05em);
  margin-bottom: 12px;
}

.BM-item-descr {
  // @include min-mobile {
  //   @include short-font(16px, 0.01em);
  // }

  @include short-font(16px, 0.01em);
  margin-left: 16px;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 20px;
  }
}

.menuContacts {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.menuContactsList {
  padding: 0;
  margin: 0;
}

.menuContactsBox {
  display: flex;
  justify-content: center;
}

.menuContactsItem {
  display: inline-flex;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.menuContactsLink {
  @include short-font(16px, 0.01em);

  @include short-font(19px, 0.01em);
  color: $secondary-color;
  text-decoration: none;

  // @include min-mobile {
  //   @include font(17px, 500, 0.01em);
  // }
}

.address-bm-box {
  display: flex;
  justify-content: center;

  padding-top: 14px;
  transform: translateX(-19px);
}

.map-bm {
  padding: 10px 10px 10px 0;
  transform: translate(5px, -5px);
}

// .icon-map {
//   @include min-mobile {
//     max-width: 32px;
//     height: 35px;
//   }
// }

.address-link-bm {
  // @include mobile {
  //   @include font(21px, 600, 0.03em);
  // }

  @include font(18px, 600, 0.03em);
}

.menuSocial {
  display: flex;
  justify-content: center;
}

.menuSocialList {
  padding: 0;
  list-style: none;
}

.menuSocialItem {
  display: inline-flex;
}

.menuSocialLink {
  @include font(12px, 500, 0.01em);

  // @include mobile {
  //   @include font(18px, 500, 0.01em);
  // }

  color: $secondary-color;
  text-decoration: none;
}

.menuSocialBorder {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0 10px 0 10px;
}
