<section class="about section" id="about">
  <div class="container">
    <h2 class="titleAbout">Про нас</h2>

    <!-- Text on UK -->

    <div class="textAboutUk">
      <div class="textAbout">
        База відпочинку <span class="textAccentAbout">“Datcha”</span>,
        розташована за межами міста і є місцем для тих, хто хоче насолодитися
        гарною природою, відпочити від міського шуму та повсякденної метушні.
      </div>

      <div class="textAbout">
        База знаходиться на березі річки, що створює атмосферу спокою та
        натхнення, та надає можливість подихати свіжим повітрям, насолодитися
        красою природи навколо і, при бажанні, навіть половити рибку.
      </div>

      <div class="textAbout">
        Головною відмінною рисою є невелика, доглянена територія, що створює ще
        більш комфортні умови для спокійного відпочинку. Для цього ми пропонуємо
        затишні альтанки з мангалами.
      </div>

      <div class="textAbout">Також на території є безкоштовна парковка.</div>

      <div class="textAbout">
        І на закінчення: Наша база відпочинку пропонує зручне місце біля річки,
        де ви можете провести час з друзями, колегами або сім’єю.
      </div>
    </div>
  </div>
</section>
