<footer class="footer" id="contacts">
  <div class="container footerContainer">
    <div class="footer-box">
      <div class="logoFooter">
        <a href="./index.html" class="logo">
          <img src="./images/logoDatchaWord.svg" alt="logo" class="logoImg" />
        </a>
      </div>

      <div class="contact-box">
        <p class="subtitle-footer"><b>Контакти</b></p>
        <ul class="contact-list">
          <li class="contact-item">
            <svg width="30" height="32">
              <use href="./images/icons.svg#icon-mobile"></use>
            </svg>
            <a class="contact-link" href="tel:+380675609482">0675609482</a>
          </li>
          <li class="contact-item">
            <svg width="30" height="32">
              <use href="./images/icons.svg#icon-mobile"></use>
            </svg>
            <a class="contact-link" href="tel:+380964875185">0964875185</a>
          </li>
        </ul>
      </div>

      <!-- <b>Адреса</b> -->
      <div class="address">
        <address class="address-box">
          <div class="address-text">
            <p class="subtitle-footer"><b>Адреса</b></p>
            <div class="map-box">
              <a
                href="https://goo.gl/maps/Yw1rKM6HGrmVK9iBA"
                target="_blank"
                rel="noopener nofollow noreferrer"
                class="map-icon"
              >
                <img src="./images/logos_google-maps.svg" alt="" />
              </a>

              <a
                class="address-link"
                href="https://goo.gl/maps/Yw1rKM6HGrmVK9iBA"
                target="_blank"
                rel="noopener nofollow noreferrer"
                >пров. Набережний 5а <br />
                с. Чкаловка</a
              >
            </div>
          </div>
        </address>
      </div>
    </div>

    <div class="boxForReserved">
      <div class="btnBoxReserved">
        <a href="tel:+380964875185" class="btnReserved">Забронювати</a>
      </div>

      <div class="test">
        <ul class="social-footer">
          <li class="social_item">
            <a
              class="icon-color-footer"
              href="https://www.instagram.com/baza_otdykha_kr/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg width="42" height="42">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a
              class="icon-color-footer"
              href="https://www.facebook.com/datcha.afalina"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg width="42" height="42">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a
              class="icon-color-footer"
              href="https://t.me/datcha_bv"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg width="42" height="42">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
