<section class="photo section" id="foto">
  <div class="container">
    <h2 class="title-foto">Фото</h2>
    <h3 class="subtitle-foto">Загальні</h3>

    <div class="img-slider">
      <div class="common-foto swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/altanka1_270.jpg     270w,
                ./images/414/altanka1@2_270.jpg   540w,
                ./images/768/altanka1_768.jpg     590w,
                ./images/768/altanka1@2_768.jpg  1180w,
                ./images/1180/altanka1_700.jpg    700w,
                ./images/1180/altanka1@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/altanka1_270.jpg"
              alt="Альтанка"
            />
   
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/altanka2_270.jpg     270w,
                ./images/414/altanka2@2_270.jpg   540w,
                ./images/768/altanka2_768.jpg     590w,
                ./images/768/altanka2@2_768.jpg  1180w,
                ./images/1180/altanka2_700.jpg    700w,
                ./images/1180/altanka2@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/altanka2_270.jpg"
              alt="Альтанка"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/altanka3_270.jpg     270w,
                ./images/414/altanka3@2_270.jpg   540w,
                ./images/768/altanka3_768.jpg     590w,
                ./images/768/altanka3@2_768.jpg  1180w,
                ./images/1180/altanka3_700.jpg    700w,
                ./images/1180/altanka3@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/altanka3_270.jpg"
              alt="Альтанка"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/alley3_270.jpg     270w,
                ./images/414/alley3@2_270.jpg   540w,
                ./images/768/alley3_768.jpg     590w,
                ./images/768/alley3@2_768.jpg  1180w,
                ./images/1180/alley3_700.jpg    700w,
                ./images/1180/alley3@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/alley3_270.jpg"
              alt="Алея"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/houses_270.jpg     270w,
                ./images/414/houses@2_270.jpg   540w,
                ./images/768/houses_768.jpg     590w,
                ./images/768/houses@2_768.jpg  1180w,
                ./images/1180/houses_700.jpg    700w,
                ./images/1180/houses@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/houses_270.jpg"
              alt="Будиночки"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/terrain_270.jpg      270w,
                ./images/414/terrain@2_270.jpg    540w,
                ./images/768/terrain2_768.jpg     590w,
                ./images/768/terrain2@2_768.jpg  1180w,
                ./images/1180/terrain2_700.jpg    700w,
                ./images/1180/terrain2@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/terrain_270.jpg"
              alt="Алея"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/view_270.jpg     270w,
                ./images/414/view@2_270.jpg   540w,
                ./images/768/view_768.jpg     590w,
                ./images/768/view@2_768.jpg  1180w,
                ./images/1180/view_700.jpg    700w,
                ./images/1180/view@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/view_270.jpg"
              alt="Вид з будинку"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/fishing_270.jpg     270w,
                ./images/414/fishing@2_270.jpg   540w,
                ./images/768/fishing_768.jpg     590w,
                ./images/768/fishing@2_768.jpg  1180w,
                ./images/1180/fishing_700.jpg    700w,
                ./images/1180/fishing@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/fishing_270.jpg"
              alt="Рибалка"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/fish_270.jpg     270w,
                ./images/414/fish@2_270.jpg   540w,
                ./images/768/fish_768.jpg     590w,
                ./images/768/fish@2_768.jpg  1180w,
                ./images/1180/fish_700.jpg    700w,
                ./images/1180/fish@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/fish_270.jpg"
              alt="Риба Улов"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/river_270.jpg     270w,
                ./images/414/river@2_270.jpg   540w,
                ./images/768/river_768.jpg     590w,
                ./images/768/river@2_768.jpg  1180w,
                ./images/1180/river_700.jpg    700w,
                ./images/1180/river@2_700.jpg 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/river_270.jpg"
              alt="Річка"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- CHALET -->
    <!-- <h3 class="subtitle-foto subtitle-foto-chalet">Шале</h3>

    <div class="img-slider">
      <div class="common-foto swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/chalet1_270@2.png   540w,
                ./images/768/chalet_590/chalet1_590@2.png  1180w,
                ./images/1180/chalet_700/chalet1_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/chalet1_270@2.png"
              alt="Альтанка"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/chalet2_270@2.png   540w,
                ./images/768/chalet_590/chalet2_590@2.png  1180w,
                ./images/1180/chalet_700/chalet2_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/chalet2_270.png"
              alt="Альтанка"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/first-floor1_270@2.png   540w,
                ./images/768/chalet_590/first-floor1_590@2.png  1180w,
                ./images/1180/chalet_700/first-floor1_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/first-floor1_270.png"
              alt="Альтанка"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/first-floor2_270@2.png   540w,
                ./images/768/chalet_590/first-floor2_590@2.png  1180w,
                ./images/1180/chalet_700/first-floor2_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/first-floor2_270.png"
              alt="Алея"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/first-floor3_270@2.png   540w,
                ./images/768/chalet_590/first-floor3_590@2.png  1180w,
                ./images/1180/chalet_700/first-floor3_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/first-floor3_270.png"
              alt="Будиночки"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/first-floor4_270@2.png   540w,
                ./images/768/chalet_590/first-floor4_590@2.png  1180w,
                ./images/1180/chalet_700/first-floor4_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/first-floor4_270.png"
              alt="Алея"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/second-floor1_270@2.png   540w,
                ./images/768/chalet_590/second-floor1_590@2.png  1180w,
                ./images/1180/chalet_700/second-floor1_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/second-floor1_270.png"
              alt="Вид з будинку"
            />
          </div>

          <div class="swiper-slide">
            <img
              srcset="
                ./images/414/chalet_270/second-floor2_270@2.png   540w,
                ./images/768/chalet_590/second-floor2_590@2.png  1180w,
                ./images/1180/chalet_700/second-floor2_700@2.png 1400w
              "
              sizes="(min-width: 1180px) 700px, (min-width: 768px) 590px, (min-width: 320px) 270px, 100vw"
              src="./images/414/chalet_270/second-floor2_270.png"
              alt="Рибалка"
            />
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
