.about {
  @include desktop {
    padding-top: 92px;
  }
  padding-top: 52px;
}

.titleAbout {
  @include desktop {
    font-size: 70px;
    padding: 0 0 52px 38px;
  }

  @include tablet {
    @include short-font(60px, 0.05em);
    padding: 0 0 44px 38px;
  }

  @include font(32px, 700, 0.05em);

  margin-left: 20px;
  text-shadow: 3px 4px 10px $title-shadow;
  color: $primary-text;
  padding: 0 0 18px 38px;
}

.textAbout {
  @include desktop {
    font-size: 28px;
  }

  @include tablet {
    font-size: 23px;
  }

  font-family: 'EB Garamond', serif;
  font-size: 20px;
  text-align: left;
  color: $secondary-color;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 5px 0 15px;

  &--bottom {
    margin-bottom: 0;
  }
}

.textAccentAbout {
  @include desktop {
    font-size: 28px;
  }

  @include tablet {
    font-size: 24px;
  }

  font-size: 18px;
}
