.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: $secondary-bg;
}

.butgerMenu {
  fill: $icon-burger-menu;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: none;
  margin: 0;
  padding: 15px 0px;
}

