<!-- MODAL -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modalBox">
        <div class="circleTitile"></div>
      <h2 class="title-modal">Прайс</h2>

      <ul class="text-modal">
        <li class="text-modal-item">
          Денне перебування без заселення - 150 грн
        </li>
        <!-- <li class="text-modal-item">Перебування у буденний день - 300 грн з людини</li> -->
        <!-- <li class="text-modal-item">Перебування у вихідний день - 350 грн з людини</li> -->
        <li class="text-modal-item">Перебування з заселенням - 400 грн</li>

        <li class="text-modal-item ps-text-modal">(Ціна вказана за одну особу)</li>
      </ul>

      <h3 class="subtitle-modal">У вартість входить:</h3>

      <ul class="modal-descr">
        <li class="modal-descr-item">мангал</li>
        <li class="modal-descr-item">альтанка</li>
        <li class="modal-descr-item">стоянка</li>
      </ul>

      <div class="modalReservedBox">
        <p>
          <b class="subtitle-modal subtitle-modal-second">Зробити замовлення</b>
        </p>
        <div class="modalContactBox">
          <a class="contact-modal" href="tel:+380675609482">0675609482</a>
          <a class="contact-modal" href="tel:+380964875185">0964875185</a>
        </div>
      </div>

      <!-- SOCILA -->
      <div class="socialModal">
        <ul class="socialModalList">
          <li class="socialModalItem">
            <a
              href="https://www.instagram.com/baza_otdykha_kr/"
              target="_blank"
              rel="noopener nofollow noreferrer"
              class="socialModalLink"
              >Instagram
              <span class="socialModalBorder"></span>
            </a>
          </li>
          <li class="socialModalItem">
            <a
              href="https://t.me/datcha_bv"
              target="_blank"
              rel="noopener nofollow noreferrer"
              class="socialModalLink"
              >Telegram
              <span class="socialModalBorder"></span>
            </a>
          </li>

          <li class="socialModalItem">
            <a
              href="https://www.facebook.com/datcha.afalina"
              target="_blank"
              rel="noopener nofollow noreferrer"
              class="socialModalLink"
              >Facebook
              <span class="socialModalBorder"></span>
            </a>
          </li>
        </ul>
      </div>

      <!-- close-btn -->
      <button type="button" class="close-btn-modal" data-modal-close>
        <svg width="38" height="38">
          <use href="./images/icons.svg#icon-btn-close"></use>
        </svg>
      </button>

      <div class="circleL"></div>
      <div class="circleR"></div>
    </div>
  </div>
</div>
